.introduction_video{
margin-top: 5vh;
}
.introduction_video > video{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.home_nav_buttons_container{
    width:100vw;
    margin-top:5vh;
}
