.header_container{
  text-align: center;
  height:10vh;
  background-color: black;
  display:grid;
  grid-template-columns: 20vw 60vw 20vw;
}
.drop_down_menu{
  position:absolute;
  top:10vh;
  height:90vh;
  width:100vw;
  background-color: black;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  display:none;
}
.page_container{
  display:grid;
}
.opacity_0{
  opacity:0;
}
.opacity_50{
  opacity: 50%;
}
.visibility_none{
  visibility:hidden;
}
.text_t1{
  font-size:.8rem
}
.text_t2{
  font-size:1.5rem;
}
.text_t3{

}


.page_t1{
min-height:90vh;
align-items: center;
justify-content: center;
grid-template-rows: 35vh 10vh 10vh 10vh 10vh;
}

a{
  text-decoration: none;
}
.header_title{
  font-size:1.5rem;
  line-height:10vh;
  color:white;
}
.page_title{
  font-size:2rem;
  text-align: center;
}
.page_title_small{
  font-size:1.5rem;
  text-align: center;
}
.svg_container{
  width:10vw;
  justify-self:center;
  align-self:center
}
.page_container{
  width:100vw;
  height:auto;
}
video{
  margin-left:10vw;
  width:80vw;
}

.float_right{
  float:right;
}
.down_2_half{
margin-top:2.5vh;
}
.down_5{
  margin-top:5vh;
}
.down_10{
  margin-top:10vh;
}

.card_container{
  height:65vh;
  width:80vw;
  border-radius:2rem;
  margin-left:auto;
  margin-right:auto;
  background-color: white;
  display:grid;
  justify-content: center;
  align-items: center;

}
.card_title{
  font-size:1.5rem;
  text-align: center;
}

.card_selector_container{
  display:grid;
  grid-template-columns: 50% 50%;
}

.card_selector{

background-color: transparent;
border:none;
}
.card_input_container{
  display:grid;
  row-gap: 4vh;
}
.card_input_container > input{
  border:0;
  border-bottom:1px solid black;
  font-size: 1.5rem;
}
input:focus{
  outline:0;
}
.right_5{
  margin-right:5vw;
}
.left_5{
  margin-left:5vw;
}
.right_10{
  margin-right:10vw;
}
.left_10{
  margin-left:10vw;
}
.flex_center{
  display:flex;
  justify-content: center;
}
.pop_up{
  height:50vh;
  position:absolute;
  width:100vw;
  margin-top:10vh;
  background-color: white;
  display:none;
}
.table_t1{
  width:90vw;
  height:20vh;
  text-align: center;
  border:solid 2px white;
  border-radius: 2rem;
  background: linear-gradient(312deg, #1e4ca8, #0ed5ea);
  background-size: 400% 400%;
  animation: gradient_background 7s ease infinite;

}
.table_t2{
  width:100vw;
}
.table_t2 > tr{
line-height: 7vh;

}

.text_center{
  text-align: center;
}
.check_box_input{
  position:absolute;
  height:0;
  width:0;
  opacity:0;
}
.check_box{
  background-color: white;
  width:5vh;
  height:5vh;
}

.check_box_text td{
display:inline-flex;
align-items: center;
  }





.w_100{

width:100vw;
}
.w_80{
  width:80vw;
}
.w_50{
  width:50vw;
}
.add_5_bottom{
  margin-bottom:5vh;
}