
.appointment_container{
display:grid;
align-items: center;
grid-template-rows: 40vh 10vh;
}
.appointment_table_container{
    width:100vw;
    display: flex;
    justify-content: center;
}
#notification_checkbox_container input{
position:absolute;
opacity: 0;
cursor: pointer;
height:0;
width:0;
}
.check_box{
    justify-content: center;
    align-items: center;
}
.check_box_text td{
display: inline-flex;
align-items: center;
justify-content: center;
}
.add_phone{
    margin-top:5vh;
    opacity: 95%;
    width:100vw;
    height:80vh;
    position:absolute;
    background-color: white;
    z-index: 3;
    display:none;
}
.phone_title{
    margin-top:15vh;
}
.phone_input{
    margin-top:10vh
}

