*{
font-family: monospace;
font-size: 15px;

}

body::-webkit-scrollbar{
    display:none;
}
body{
    margin:0;
    background-color: rgb(5, 114, 133);
    width:100vw;
}
@media only screen and (max-width:400px){
    *{
        font-size:12px
    }
}